textarea{
    width: 90%;
   display: block;
   margin: 1rem;
   height: 20vh;
   padding: 1rem;

}

#out{
    border: 1px solid cyan;
    width: 90%;
    margin: 1rem;
    height: 20vh;
    padding: 1rem;
}